@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Vazir-Medium-FD_p30download.com.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: "Vazir" !important;
  background-color: #f7f7f7 !important;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 0 !important;
  width: 100% !important;
  padding: 0 !important;
}

.col {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

.marg-t-12 {
  margin-top: 12px;
}

.marg-t-36 {
  margin-top: 36px;
}

.height-500 {
  height: 500px;
}

.error-text {
  font-size: 14px;
  color: #FC4A56 !important;
  display: flex;
  align-items: right;
  margin-top: 6px;
}

.margin-b-0 {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fffdfd;
}

::-webkit-scrollbar-thumb {
  background: #909090;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blue-button {
  background-color: #019ba7 !important;
}

.blue-transparent-button {
  background: #019ba7 !important;
  opacity: 0.3;
  color: #FFFFFF;
}

@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Vazir-Medium-FD_p30download.com.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: "Vazir" !important;
  background-color: #f7f7f7 !important;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 0 !important;
  width: 100% !important;
  padding: 0 !important;
}

.col {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

.marg-t-12 {
  margin-top: 12px;
}

.marg-t-36 {
  margin-top: 36px;
}

.height-500 {
  height: 500px;
}

.error-text {
  font-size: 14px;
  color: #FC4A56 !important;
  display: flex;
  align-items: right;
  margin-top: 6px;
}

.margin-b-0 {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fffdfd;
}

::-webkit-scrollbar-thumb {
  background: #909090;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blue-button {
  background-color: #019ba7 !important;
}

.blue-transparent-button {
  background: #019ba7 !important;
  opacity: 0.3;
  color: #FFFFFF;
}

.input-icon {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  position: relative;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.input-icon-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #646c9a;
}
.input-icon-container {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
.input-icon-container .rounded-4 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-icon-container .input {
  background-color: #FFFFFF;
  width: 100% !important;
  outline: unset;
  text-align: right;
  padding: 0.5rem 1rem;
  direction: ltr;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #c3c3c3;
  width: auto;
  height: auto;
  font-family: "Vazir" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #000000 !important;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 1.5rem;
  height: 60px;
}
.input-icon-container .input:disabled {
  background: #f7f8fa !important;
}
.input-icon-container .input:focus {
  outline: none;
  border: 1px solid #000000;
}
.input-icon-container .input:hover {
  outline: none;
  border: 1px solid #000000;
}
.input-icon-container .deactive {
  background: #909090;
}
.input-icon-error {
  font-size: 12px;
  color: #FC4A56 !important;
}
.input-icon input::-webkit-outer-spin-button,
.input-icon input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-icon input[type=number] {
  -moz-appearance: textfield;
}

.button-component {
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0099;
  cursor: pointer;
}
.button-component-text {
  width: auto;
  height: auto;
  font-family: "Vazir" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #FFFFFF !important;
  margin: 0;
  cursor: pointer;
}
.button-component-title {
  display: flex;
  align-items: center;
}
.button-component-title svg {
  margin-top: 2px;
  margin-left: 4px;
}

.otp-group {
  display: flex;
  width: 100%;
  max-width: 360px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-flow: row-reverse;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
.otp-group .otp-input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  width: auto;
  height: auto;
  font-family: "Vazir" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #000000 !important;
  background-color: #FFFFFF;
  width: 100% !important;
  outline: unset;
  padding: 0.5rem 1rem;
  text-align: center;
  line-height: 1.5;
  background-clip: padding-box;
  border: 2px solid #019ba7;
}

.main-page {
  direction: rtl;
  padding-bottom: 40px;
  width: calc(100% - 270px);
  text-align: center;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  overflow-y: initial;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  .main-page {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.main-page .main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 67%;
}
.main-page .main-card .card-title {
  width: 100%;
  background-color: #019ba7;
  height: 250px;
  background-color: #019ba7;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: center;
}
.main-page .main-card .card-title .image {
  width: 85.484px;
  height: 93.245px;
}
.main-page .main-card .form {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(207, 207, 207, 0.24) 0px 4px 8px 0px;
  width: 80%;
  margin-top: -10rem;
  border-radius: 10px;
  padding: 1.2rem;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}
.main-page .main-card .form .guide {
  margin: 0px;
  line-height: 1.875rem;
  width: auto;
  height: auto;
  font-family: "Vazir" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #000000 !important;
  margin-bottom: 5px;
}
.main-page .main-card .form .code {
  margin: 0px;
  width: auto;
  height: auto;
  font-family: "Vazir" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 0.75rem !important;
  color: #909090 !important;
}
.main-page .main-card .form .timer-container {
  display: flex;
  direction: rtl;
}
.main-page .main-card .form .column-50 {
  width: 48%;
  position: relative;
}
@media screen and (max-width: 975px) {
  .main-page .main-card .form .column-50 {
    width: 100%;
    padding-bottom: 25px;
  }
}
.main-page .main-card .button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}/*# sourceMappingURL=app.css.map */