@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Vazir-Medium-FD_p30download.com.ttf)
}

@mixin FontStyle($fontSize, $fontWeight, $Color) {
  width: auto;
  height: auto;
  font-family: 'Vazir' !important;
  font-style: normal !important;
  font-weight: $fontWeight  !important;
  font-size: $fontSize  !important;
  color: $Color  !important;

}
@mixin Display($display: flex, $justify: flex-start, $align: flex-start, $direction: row, $wrap: nowrap) {
  display: $display  !important;
  justify-content: $justify  !important;
  align-items: $align  !important;
  flex-direction: $direction  !important;
  flex-wrap: $wrap  !important;
}
@mixin Border($size: 0px, $color: transparent, $radius: 0px) {
  border: $size solid $color  !important;
  border-radius: $radius  !important;
}
html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: 'Vazir' !important;
  background-color: $lightBlue !important;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 0 !important;
  width: 100% !important;
  padding: 0 !important;
}

.col {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


.hide-desktop {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}
.hide-mobile {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.marg-t-12{
  margin-top: 12px !important;
}
.marg-t-36{
  margin-top: 36px !important;
}
.marg-t-3{
  margin-top: 3px !important;
}
.height-500{
  height: 500px;
} 
.error-text{
  font-size: 14px;
  color: $red !important ;
  display: flex;
  align-items: right;
  margin-top: 6px;
}

.margin-b-0{
  margin-bottom:  0 !important;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $bgWhite;
}
::-webkit-scrollbar-thumb {
  background: $gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.blue-button{
  background-color: $blue !important;
}
.blue-transparent-button{
  background: $blue !important;
  opacity: 0.3;
  color: $white;
}
.border-gray{
  border: 1px solid $borderGray !important;
}
.border-blue{
  border: 1px solid $blue !important;
}
li{
  list-style: none;
}