$gray: #909090;
$borderGray: #c3c3c3;
$blue: #019ba7;
$black: #000000;
$darkGray: #575555;
$red: #FC4A56;
$bgWhite: #fffdfd;
$white: #FFFFFF;
$disabled:#e7e7e7;
$purple: #7933b9;
$lightPurple: #646c9a;
$hotPink: #ff0099;
$lightBlue: #f7f7f7;
