.input-icon{
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  position: relative;
  &-label{
    font-size: 14px;
    margin-bottom: 5px;
    color: $lightPurple;

  }

  &-container {
    display: flex;
    width: 100%;
    position:relative;
    margin:  0 auto;
    margin-bottom: 15px;
     .rounded-4{
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      }
        

     .input{
      background-color: $white;
      width: 100% !important;
      outline: unset;
      text-align: right;
      padding: 0.5rem 1rem;
      direction: ltr;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid $borderGray;
      @include FontStyle(14px, 400, $black);
      border-radius: 8px;
      box-sizing:border-box;
      padding-left: 1.5rem;
      height: 60px;

  
    &:disabled {
      background: $disabled !important;
    }
      &:focus {
        outline: none;
        border: 1px solid $black;
      }
      &:hover {
        outline: none;
        border: 1px solid $black;
      }
     }
     .deactive{
      background: $gray;
    }
    
  }
  &-error{
    font-size: 12px;
    color: $red !important ;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
